@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .font-outline-2 {
    -webkit-text-stroke: 2px white;
  }
  .font-outline-4 {
    -webkit-text-stroke: 4px white;
  }
  .font-outline-6 {
    -webkit-text-stroke: 6px white;
  }
  .font-outline-8 {
    -webkit-text-stroke: 8px white;
  }
}

.clip-slope {
  clip-path: polygon(35% 0%, 100% 0%, 100% 100%, 0% 100%);
}
